body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;;
    margin-bottom: 0px;;
    display: block;
}

.sliderBox {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0;
    height: 300px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.sliderContainer {
    display: flex; /* Display children elements horizontally */
    align-items: center;
    margin-bottom: 20px;
    flex: 0 0 25%; /* Flex grow, flex shrink, flex basis */
}

.sliderContainer label {
    margin-right: 10px;
}

.sliderContainer input[type="range"] {
    width: calc(100% - 100px); /* Adjust width to fit container */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .sliderContainer {
        flex-basis: 100%; /* Set flex basis to 100% for full width on smaller screens */
    }
}

.sliderContainer {
    margin: 4px, 4px;
            padding: 4px;
            overflow-x: hidden;
            overflow-y: auto;

}